---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LiveBonds from '../components/LiveBonds.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header current="home" />
  <main>
    <Hero />
    <LiveBonds />
    <FAQ />
  </main>
  <Footer />
</Base>
